/* src/index.css */
@import "tailwindcss";

html,
body {
  height: 100%;
  /* overflow: hidden; */
  overflow-x: hidden; /* important: no horizontal scroll on page */
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

/* Make scrollbar thin and subtle on all pages */
/* * {
  scrollbar-width: thin; 
  scrollbar-color: #f9f9f9 transparent;
} */

/* hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Chrome / Edge / Safari */
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  /* background-color: #cbd5f5; */
  border-radius: 9999px;
}

@layer utilities {
  /* Hide scrollbar but keep scroll */

  /* Chrome, Safari, Edge, Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Firefox, old Edge */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@keyframes shimmer-diagonal {
  0% {
    background-position: -150% -150%;
  }
  100% {
    background-position: 150% 150%;
  }
}

.skeleton-shimmer {
  background-image: linear-gradient(
    135deg,
    #e5e7eb 30%,
    #f3f4f6 45%,
    #e5e7eb 60%
  );
  background-size: 300% 300%;
  animation: shimmer-diagonal 2.8s linear infinite;
}

@keyframes shimmer-rtl {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
